<div class="card border-primary mb-3">
  <div class="card-header">Habitaciones</div>
  <div class="card-body text-primary">
    <h5 class="card-text">Lista de habitaciones</h5>
    <div class="my-2 text-left">
      <button type="button" class="btn btn-rounded btn-primary" (click)="openModal(modalSave, 'create')">Crear Habitaci&oacute;n</button>
    </div>
    <div *ngIf="bedrooms?.length === 0" class="alert alert-info">
      No hay registros en la base de datos del sistema.
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Tipo</th>
      <th>Descripci&oacute;n</th>
      <th>Creado</th>
      <th>Actualizado</th>
      <th>
        Actualizar
      </th>
      <th>
        Eliminar
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bedroom of bedrooms; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ bedroom.nombre }}</td>
      <td>{{ bedroom.descripcion }}</td>
      <td>{{ bedroom.createdAt | date: 'medium' }}</td>
      <td>{{ bedroom.updatedAt | date: 'medium' }}</td>
      <td>
        <button type="button" name="editar" (click)="openModal(modalSave, 'update', bedroom._id)" class="btn btn-warning btn-sm">Editar</button>
      </td>
      <td>
        <button type="button" name="eliminar" (click)="openModal(modalDelete, 'delete', bedroom._id)" class="btn btn-danger btn-sm">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal Delete-->
<ng-template #modalDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirmación</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong
      >¿Desea eliminar el registro
        <span class="text-info">"seleccionado"</span>?</strong>
    </p>
    <p>
      Toda la información asociada a este registro se eliminará de forma
      permanente.
    </p>
  </div>
  <div class="modal-footer">
    <div>
      <button type="button" class="btn btn_outline_secondary text-dark" (click)="modal.close('not')">
        No
      </button>
      <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('yes')">
        <span class="text-white">Si</span>
      </button>
    </div>
  </div>
</ng-template>

<!-- Modal Save-->
<ng-template #modalSave let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="!bedroom._id else elseEdit"> Crear Habitaci&oacute;n</h4>
    <ng-template #elseEdit>
      <h4 class="modal-title" id="modal-basic-title"> Editar Habitaci&oacute;n</h4>
    </ng-template>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #bedroomForm="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" [(ngModel)]="bedroom.nombre" name="nombre" placeholder="Ingrese el nombre" required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="descripcion">Descripci&oacute;n</label>
            <input type="text" id="descripcion" class="form-control" [(ngModel)]="bedroom.descripcion" name="descripcion" placeholder="Ingrese el descripcion"/>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div>
      <button type="button" class="btn btn-secondary mx-2" (click)="modal.close('not')">
        Cancelar
      </button>
      <button type="button" ngbAutofocus class="btn btn-primary" *ngIf="!bedroom._id else elseBlock" [disabled]="!bedroomForm.valid" (click)="modal.close('create')">
        <span>Guardar</span>
      </button>

      <ng-template #elseBlock>
        <button type="button" ngbAutofocus class="btn btn-warning" (click)="modal.close('update')">
          <span>Editar</span>
        </button>
      </ng-template>
    </div>
  </div>
</ng-template>
